<p id="notice"><%= notice %></p>

<p>
  <b>Line:</b>
  <%= @annotation.line %>
</p>

<p>
  <b>Article:</b>
  <%= @annotation.article_id %>
</p>


<%= link_to 'Edit', edit_annotation_path(@annotation) %> |
<%= link_to 'Back', annotations_path %>
