<h1>論文一覧</h1>

<%= p "ようこそ " + User.find(session[:usr]).name + " さん" %>

<table>
  <tr>
    <th>タイトル</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= link_to 'アノテーションを行う', article, {:id => article.id ,:class => article.title} %></td>
<!--    <td><%= link_to 'Edit', edit_article_path(article) %></td>  -->
    <td><%= link_to '削除', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '論文を登録する', new_article_path %>
